<div *ngIf="project" class="popup-container">
    <div class="popup edit">
        <div class="edit-name" *ngIf="project.projectName!='...'">
            <h3>Enter new name:</h3>
            <input #nameInput type="text" placeholder="Project Name..." />
            <app-button class="action-btn" text="Save"
                (click)="updateProject(project, nameInput.value)"></app-button>
        </div>
        <div class="edit-buttons">
            <app-button class="action-btn delete-btn" text="Delete" (click)="deleteProject(project)" *ngIf="project.id"></app-button>
            <app-button class="action-btn" text="Back" (click)="handleBack()" *ngIf="project.id"></app-button>
        </div>
        <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
        
    </div>
</div>