button {
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
    transition: transform 0.2s ease-in;
    font-size: 1rem;
    background-color: white;
}

button:active {
    transform: scale(0.95);
}

.time-btn {
    padding: 0.5em 4em;
}

.dialog-btn {
    padding: 1em 4em;
}

.action-btn {
    padding: 0.3em 0.8em;
}

.delete-btn{
    background-color: rgb(255, 0, 0);
}

.excel-btn{
    background-color: rgb(26, 169, 36);
    font-size: 0.7rem;
    padding: 0.5em 1em;
}