<div class="popup-container dialog-container">
  <div class="popup dialog">
    <header>
      <p>Stop Timer</p>
      <div class="icon" (click)="closeDialog()" >
        <fa-icon [icon]="faTimes" id="close-icon"></fa-icon>
      </div>
    </header>
    <div class="projectName-container">
      <div class="projectName">
        <label for="project">Project name *</label>
        <input
          type="text"
          id="project"
          #projectNameInput
          placeholder="project1"
        />
      </div>
      <app-button
        class="dialog-btn"
        text="Stop timer"
        (click)="handleDialog(projectNameInput.value)"
      ></app-button>
      <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
    </div>
  </div>
</div>