<table>
    <thead>
        <tr>
            <th>Project</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Duration</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">
            <td>{{ project.projectName }}</td>
            <td>{{ project.startDateString }}</td>
            <td>{{ project.stopDateString }}</td>
            <td>{{ project.duration }}</td>
            <td><app-button class="action-btn" text="Edit" (click)="editProject(project)"></app-button></td>
        </tr>
    </tbody>

    <app-edit *ngIf="open" [project]="projectToEdit" (projectsUpdated)="updateProjectList($event)" (close)="setClose()">
    </app-edit>
</table>